Importamos librerias

In [2]:
import pandas as pd
import numpy as np

Llamamos al fichero excel

In [3]:
df = pd.read_csv("personas_sucio.csv")
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta         NaN   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  Barcelona    pedroexample.com            NaN
4     lucía          22     Madrid   lucia@example.com      2024-3-05
5       ANA          25        MAD     ana@example.com     2024/01/10
6     Sofia         27     sevilla                 NaN     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan         NaN     madrid      juan@@mail.com     2024-02-30
9     Laura         31    Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María         NaN    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13     Eva           28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen         NaN   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

- No haya valores núlos.

In [4]:
df = df.fillna(0)
df

     nombre        edad     ciudad               email fecha_registro
0     Ana            25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta           0   VALENCIA   marta@example.com     2024-02-15
3    Pedro   veintiocho  Barcelona    pedroexample.com              0
4     lucía          22     Madrid   lucia@example.com      2024-3-05
5       ANA          25        MAD     ana@example.com     2024/01/10
6     Sofia         27     sevilla                   0     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan           0     madrid      juan@@mail.com     2024-02-30
9     Laura         31    Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María           0    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13     Eva           28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen           0   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

- Todos los nombres tengan la primera letra en mayúscula y el resto minúsculas.

In [5]:
df['nombre'] = df['nombre'].astype(str).str.strip().str.title()
df

     nombre        edad     ciudad               email fecha_registro
0       Ana          25    madrid      ana@example.com     2024-01-10
1      Luis          30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta           0   VALENCIA   marta@example.com     2024-02-15
3     Pedro  veintiocho  Barcelona    pedroexample.com              0
4     Lucía          22     Madrid   lucia@example.com      2024-3-05
5       Ana          25        MAD     ana@example.com     2024/01/10
6     Sofia         27     sevilla                   0     2024-05-20
7    Miguel          29        Sev     miguel@mail.com     2024-06-01
8      Juan           0     madrid      juan@@mail.com     2024-02-30
9     Laura         31    Valéncia   laura@example.com     2024-07-10
10  Antonio          35     Madrid    antonio@mail.com     2023-11-25
11    María           0    Sevilla      maria@mail.com     2024-01-15
12     Raúl     treinta   Valencia   raul@@example.com     2024-05-12
13      Eva          28  barcelona         eva@example     2024-04-05
14   Daniel          33     Madrid  daniel@example.com     2024-02-29
15   Isabel          27       Sev.     isabel@mail.com     2024-03-10
16  Alberto          40   Valencia    alberto@mail.com     2024/06/12
17   Carmen           0   Valéncia  carmen@example.com     2024-07-01
18    Pablo          19     MADRID       pablo@mailcom     2024-05-30
19   Teresa          25   Sevilla     teresa@ mail.com     2024-02-20

- Todas las edades estén en formato númerico (las que sean 0 o NaN, sustituirlas por el valor medio de la columna EDAD).

In [6]:
df['edad'] = pd.to_numeric(df['edad'], errors='coerce')
media_edad = df['edad'].replace(0, np.nan).mean()
df['edad'] = df['edad'].replace(0, np.nan).fillna(media_edad).astype(int)
df

     nombre  edad     ciudad               email fecha_registro
0       Ana    25    madrid      ana@example.com     2024-01-10
1      Luis    30    Sevilla    luis(at)mail.com     10/01/2024
2     Marta    28   VALENCIA   marta@example.com     2024-02-15
3     Pedro    28  Barcelona    pedroexample.com              0
4     Lucía    22     Madrid   lucia@example.com      2024-3-05
5       Ana    25        MAD     ana@example.com     2024/01/10
6     Sofia    27    sevilla                   0     2024-05-20
7    Miguel    29        Sev     miguel@mail.com     2024-06-01
8      Juan    28     madrid      juan@@mail.com     2024-02-30
9     Laura    31   Valéncia   laura@example.com     2024-07-10
10  Antonio    35     Madrid    antonio@mail.com     2023-11-25
11    María    28    Sevilla      maria@mail.com     2024-01-15
12     Raúl    28   Valencia   raul@@example.com     2024-05-12
13      Eva    28  barcelona         eva@example     2024-04-05
14   Daniel    33     Madrid  daniel@example.com     2024-02-29
15   Isabel    27       Sev.     isabel@mail.com     2024-03-10
16  Alberto    40   Valencia    alberto@mail.com     2024/06/12
17   Carmen    28   Valéncia  carmen@example.com     2024-07-01
18    Pablo    19     MADRID       pablo@mailcom     2024-05-30
19   Teresa    25   Sevilla     teresa@ mail.com     2024-02-20

- Todas las ciudades estén escritas en mayúsculas.

In [8]:
df['ciudad'] = df['ciudad'].astype(str).str.strip().str.upper()
df

     nombre  edad     ciudad               email fecha_registro
0       Ana    25     MADRID     ana@example.com     2024-01-10
1      Luis    30    SEVILLA    luis(at)mail.com     10/01/2024
2     Marta    28   VALENCIA   marta@example.com     2024-02-15
3     Pedro    28  BARCELONA    pedroexample.com              0
4     Lucía    22     MADRID   lucia@example.com      2024-3-05
5       Ana    25        MAD     ana@example.com     2024/01/10
6     Sofia    27    SEVILLA                   0     2024-05-20
7    Miguel    29        SEV     miguel@mail.com     2024-06-01
8      Juan    28     MADRID      juan@@mail.com     2024-02-30
9     Laura    31   VALÉNCIA   laura@example.com     2024-07-10
10  Antonio    35     MADRID    antonio@mail.com     2023-11-25
11    María    28    SEVILLA      maria@mail.com     2024-01-15
12     Raúl    28   VALENCIA   raul@@example.com     2024-05-12
13      Eva    28  BARCELONA         eva@example     2024-04-05
14   Daniel    33     MADRID  daniel@example.com     2024-02-29
15   Isabel    27       SEV.     isabel@mail.com     2024-03-10
16  Alberto    40   VALENCIA    alberto@mail.com     2024/06/12
17   Carmen    28   VALÉNCIA  carmen@example.com     2024-07-01
18    Pablo    19     MADRID       pablo@mailcom     2024-05-30
19   Teresa    25    SEVILLA    teresa@ mail.com     2024-02-20

- Todos los emails tengan el formato correcto (texto@otrotexto.com)

In [11]:
df['email'] = df['email'].astype(str).str.strip()
patron_email = r'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'
df.loc[~df['email'].str.match(patron_email, na=False), 'email'] = 'desconocido@correo.com'
df

     nombre  edad     ciudad                   email fecha_registro
0       Ana    25     MADRID         ana@example.com     2024-01-10
1      Luis    30    SEVILLA  desconocido@correo.com     10/01/2024
2     Marta    28   VALENCIA       marta@example.com     2024-02-15
3     Pedro    28  BARCELONA  desconocido@correo.com              0
4     Lucía    22     MADRID       lucia@example.com      2024-3-05
5       Ana    25        MAD         ana@example.com     2024/01/10
6     Sofia    27    SEVILLA  desconocido@correo.com     2024-05-20
7    Miguel    29        SEV         miguel@mail.com     2024-06-01
8      Juan    28     MADRID  desconocido@correo.com     2024-02-30
9     Laura    31   VALÉNCIA       laura@example.com     2024-07-10
10  Antonio    35     MADRID        antonio@mail.com     2023-11-25
11    María    28    SEVILLA          maria@mail.com     2024-01-15
12     Raúl    28   VALENCIA  desconocido@correo.com     2024-05-12
13      Eva    28  BARCELONA  desconocido@correo.com     2024-04-05
14   Daniel    33     MADRID      daniel@example.com     2024-02-29
15   Isabel    27       SEV.         isabel@mail.com     2024-03-10
16  Alberto    40   VALENCIA        alberto@mail.com     2024/06/12
17   Carmen    28   VALÉNCIA      carmen@example.com     2024-07-01
18    Pablo    19     MADRID  desconocido@correo.com     2024-05-30
19   Teresa    25    SEVILLA  desconocido@correo.com     2024-02-20

- Todas las fechas estén en formato DD/MM/AAAA.

In [14]:
df['fecha_registro'] = pd.to_datetime(df['fecha_registro'], errors='coerce', dayfirst=True)
df['fecha_registro'] = df['fecha_registro'].fillna(pd.Timestamp.now())
df['fecha_registro'] = df['fecha_registro'].dt.strftime('%d/%m/%Y')
df

     nombre  edad     ciudad                   email fecha_registro
0       Ana    25     MADRID         ana@example.com     01/10/2024
1      Luis    30    SEVILLA  desconocido@correo.com     07/11/2025
2     Marta    28   VALENCIA       marta@example.com     07/11/2025
3     Pedro    28  BARCELONA  desconocido@correo.com     07/11/2025
4     Lucía    22     MADRID       lucia@example.com     03/05/2024
5       Ana    25        MAD         ana@example.com     07/11/2025
6     Sofia    27    SEVILLA  desconocido@correo.com     07/11/2025
7    Miguel    29        SEV         miguel@mail.com     06/01/2024
8      Juan    28     MADRID  desconocido@correo.com     07/11/2025
9     Laura    31   VALÉNCIA       laura@example.com     07/10/2024
10  Antonio    35     MADRID        antonio@mail.com     07/11/2025
11    María    28    SEVILLA          maria@mail.com     07/11/2025
12     Raúl    28   VALENCIA  desconocido@correo.com     05/12/2024
13      Eva    28  BARCELONA  desconocido@correo.com     04/05/2024
14   Daniel    33     MADRID      daniel@example.com     07/11/2025
15   Isabel    27       SEV.         isabel@mail.com     03/10/2024
16  Alberto    40   VALENCIA        alberto@mail.com     07/11/2025
17   Carmen    28   VALÉNCIA      carmen@example.com     07/01/2024
18    Pablo    19     MADRID  desconocido@correo.com     07/11/2025
19   Teresa    25    SEVILLA  desconocido@correo.com     07/11/2025

- Creamos nuevo archivo CSV

In [15]:
df.to_csv("datos_limpios.csv", index=False)